/* news.css */

.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 20px; /* Añade un padding para separación */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.news-card {
  width: calc(30% - 20px); /* Ajusta el ancho de las tarjetas */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordes más redondeados */
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra más prominente */
  transition: box-shadow 0.3s ease; /* Transición suave */
}

.news-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Efecto de sombra al pasar el ratón */
}

.news-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
  border-bottom: 1px solid #ccc; /* Borde inferior */
}

.news-content {
  padding: 10px;
}

.news-title {
  font-size: 18px; /* Tamaño de fuente más grande */
  font-weight: bold;
  margin-bottom: 8px;
}

.news-type,
.news-genre {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666; /* Color del texto más suave */
}
