.LoginPage-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    justify-content: space-between;
  }
  
  .titulo {
    font-size: 20px;
    margin-top: 105px;
    margin-bottom: 10px;
  }
  
  .instrucciones {
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .registro-link {
    margin-top: -20px;
    margin-bottom: 40px; /* Ajusta el margen inferior según tu diseño */
  }
  
  .registro-link a {
    color: #000;
    text-decoration: underline;
  }
  
  .registro-link a:hover {
    text-decoration: none;
  }
