.RegisterPage-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .titulo {
    font-size: 24px;
    margin-bottom: -25px;
  }
  
  .registro-link {
    margin-top: -50px;
  }
  
  .registro-link a {
    color: #000000;
    text-decoration: none;
  }
  
  .registro-link a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para el formulario dentro de RegisterPage */
  .form-container {
    width: 300px;
    margin-top: -20px;
  }
  
  .form-input {
    width: calc(100% - 0px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .form-button {
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #333333;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  