body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
}

.content {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
  overflow-y: auto;
}

.main-card-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 25px;
  margin-bottom: 50px; /* Margen inferior para separación del footer */
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  background-color: #fff;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-details {
  font-size: 14px;
}

.card-details div {
  margin-bottom: 8px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #e91e63;
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #555;
}

.paginationcard {
  margin-top: 20px;
  margin-bottom: 50px; /* Margen inferior para separación del footer */
  text-align: center;
}

.paginationcard button {
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  margin: 0 5px; /* Espacio entre los botones */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: #000000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationcard button:hover {
  background-color: #555; /* Color de fondo al pasar el cursor */
}
