.Footer-container {
    font-family: 'Bree';
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    width: 100%; /* Asegura que el footer ocupe todo el ancho disponible */
    padding: 20px; /* Ajusta el relleno según sea necesario */
    box-sizing: border-box; /* Incluye el padding y border dentro del ancho total */
    color: inherit;
    text-decoration: none;
    user-select: none;

    position: fixed;
    bottom: 0;

}
  
  .Footer {
    display: flex; /* Utiliza flexbox para alinear los elementos internos */
    justify-content: space-between; /* Espacio uniforme entre los elementos internos */
    margin-left: 10%;
    margin-right: 20%;
  }
  
  
  .Footer-contact div,
  .Footer-redes div {
    margin-bottom: 10%; /* Ajusta el margen entre los elementos internos */
  }
  
  .Footer a {
    color: white; /* Ajusta el color del texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */

}
  