.footer {
  background-color: #333;
  color: #fff;
  padding: 5px 0; /* Reducir el padding del footer */
  text-align: center;
  width: 100%;
  z-index: 1000;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Elimina el margen predeterminado del ul */
}

.footer ul li {
  margin-bottom: 5px; /* Reducir el margen inferior de los elementos de la lista */
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.container {
  width: 100%; /* Ajusta el ancho del contenedor para que coincida con el footer */
  max-width: 1200px; /* Establece un ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuye uniformemente los elementos en el footer */
}

.col-md-6 {
  padding: 0 10px; /* Reducir el padding de las columnas */
  text-align: left; /* Alinea el texto a la izquierda en las columnas */
  margin-bottom: 10px;
  margin-top: -10px;
}

.col-md-6 h5 {
  margin-bottom: 10px; /* Reducir el margen inferior de los títulos */
  font-size: 1em; /* Reducir el tamaño de la fuente de los títulos */
}

.col-md-6 p {
  margin: 5px 0; /* Reducir el margen superior e inferior de los párrafos */
  font-size: 0.9em; /* Reducir el tamaño de la fuente de los párrafos */
}
