@font-face {
    font-family: 'MBT';
    src: url('/fonts/Cabecera_zai-Januszowski-Charac.ttf') format('truetype');
}
@font-face {
    font-family: 'Bree';
    src: url('/fonts/Navbar_BreeSerif-Regular.ttf') format('truetype');
}
.app-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mínimo alto de la pantalla completa */

}


.content-wrap {
flex: 1; /* Ocupa todo el espacio disponible entre header y footer */
display: flex;
flex-direction: column;
}
  
.main-content {
flex: 1; /* Ocupa todo el espacio restante */
}
  
