body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  height: 60px; /* Ajusta este valor según la altura de tu navbar */
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}

.navbar .dropdown {
  position: absolute;
  z-index: 1001;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.content.with-sidebar {
  margin-left: 250px;
}

.content.without-sidebar {
  margin-left: 0;
}

.MainCardList {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card-details {
  font-size: 16px;
}

.card-details div {
  margin-bottom: 8px;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: auto;
}

@media screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

.card-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 100px;

}

.card-button:hover {
  background-color: #0056b3;
}

/* Estilos para los botones de paginación */
.pagination {
  display: flex;
  justify-content: center;
  margin: 30px 0; /* Ajusta el margen superior e inferior según sea necesario */
}



.pagination-button.active {
  background-color: #000000;
  font-weight: bold;
}

.pagination-button {
  margin-top: 20px;
  margin-bottom: 50px; /* Margen inferior para separación del footer */
  text-align: center;
}

.pagination-button button {
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  margin: 0 5px; /* Espacio entre los botones */
  font-size: 16px; /* Tamaño de la fuente */
  background-color: #000; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button button:hover {
  background-color: #555; /* Color de fondo al pasar el cursor */
}
